@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

body {
  background-color: #131313;
  font-family: 'Fira Code', monospace;
  color: #afafaf;
  margin: 0px;
  padding-top: 0px;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 3;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  width: 150px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
