recursive-include avala/static *
exclude avala/initialization/*
include avala/initialization/flag_ids.py
include avala/initialization/submitter.py
include avala/initialization/compose.yaml
include avala/initialization/server.yaml
